table, th, td {
    border: 1px solid black;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background-color: darkolivegreen;
    margin: auto;
    text-align: center;
    color: darkkhaki;
  }