.hBold:hover {
    font-weight: bold;
}

.divOne {
    background-color: #0a8457;
    font-size: 3.72;
}

.divtwo {
    background-color: #840a51;
    font-size: 4em;
}

#div3 {
background-color: #0a4d84;
font-size: 3em;
}